<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>Tittle: <%= @post.title %></p>
  <p>Content: <%= @post.content %></p>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <%=comment.content%>
      </li>
    <%end%>
  </ul>
  <%= link_to "Comment", new_post_comment_path(@post)%>

</body>
</html>
